<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Qr code</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            {{ if .IsAlert }}
            <div class="alert alert-{{.AlertClass}} mt-4">
                <h4 class="alert-heading">{{.AlertTitle}}</h4>
                <div>
                    {{range .AlertContent}}
                    <p>- {{.}}</p>
                    {{end}}
                </div>
            </div>
            {{ end }}
            <form method="POST" action="/" class="mt-4">
                <div class="mb-3">
                    <label for="data" class="form-label">Data</label>
                    <input type="text" class="form-control" id="data" name="data">
                    <div class="form-text">The data must be UTF-8 URL-encoded and must not be greater than 2000 characters.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>